.link-color a {
    color: gray;
}

body {
    line-height: 1.5em;
}

.button {
    color: #ffffff;
    background-color: #1f1f1f;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    color: white;
    text-decoration: none;
}

.carousel-item img {
    width: 100%;
}
.carousel-item h2 {
    color: #1f1f1f;
    font-size: 41px;
}
.carousel-item p {
    color: #707070;
    font-size: 14px;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 35px;
}

/* Changing the color of carousel indicator */
.carousel-indicators li {
    border: 8px !important;
    background: lightgrey !important;
    height: 8px !important;
    padding: 0;
    margin: 0;
    width: 20px !important;
    margin: 2px;
    opacity: 1;
    border-radius: 4px;
    transition: 0.4s all ease-in-out;
}
.carousel-indicators .active {
    background: #ffcb1c !important;
    opacity: 1;
}

.card img {
    width: 200px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #efefef;
}

hr {
    height: 6px;
    background-color: #f39b3d;
    width: 100px;
    border-radius: 40px;
}

.categories img {
    width: 100px;
    margin-bottom: 10px;
}

.category {
    width: 230px;
    height: 230px;
    box-shadow: 1px 1px 8px #efefef;
    border-radius: 10px;
}

.pale-order img {
    width: 100%;
}

@media only screen and (max-width: 570px) {
    .center {
        display: flex;
        justify-content: center;
    }
}
